.footer {
  position: fixed; 
  bottom: 0;       
  width: 100%;     
  background-color: black;
  border-top: solid red 10px;
  color: white;
  text-align: center;
  
}

img {
  width: 20%;
}


